#!/bin/sh

ps -fe |grep runWorkflow.do | grep -v $$ >/dev/null
if [[ $? -eq 0 ]]; then
   echo `date` " :: Workflow is already running"
   exit
fi
ps -fe |grep tomcat5_indaba_wf |grep -v $$ >/dev/null
if [[ $? -eq 0 ]]; then
   echo ''
   echo `date` " :: Starting workflow"

   # timeout after 5 minutes
   echo `date` " :: Processing workflows"
   /apps/scripts/exec_alarm.sh -t 300 curl --silent --compressed http://localhost:7080/indaba_wf/runWorkflow.do

   echo `date` " :: Processing userfinder triggers"
   /apps/scripts/exec_alarm.sh -t 300 curl --silent --compressed http://localhost:7080/indaba_wf/fireuserfinder.do

   echo ''
   echo `date` " :: Processing batch mails"
   /apps/scripts/exec_alarm.sh -t 300 curl --silent --compressed http://localhost:7080/indaba_wf/mailbatch.do

   echo ''
   echo `date` " :: Workflow finished"
else 
   echo `date` " :: The workflow tomcat instance is not running"
fi
